#formUpdateReceipt {
    position: relative;
    margin: 200px auto;
    width: 600px;
    background: #eaeaea;
    padding: 26px;
    font-size: 20px;
}

.update-input {
    position: absolute;
    right: 25px;
    width: 350px;
    line-height: 20px;
}

.divUpdateReceipt {
    padding: 7px;
}
