
#header {
    position: relative;
}

    #header .header-user-info {
        /*border: 1px solid #ccc;*/
        width: 285px;
        position: absolute;
        right: 8px;
        top: 8px;
        bottom: 8px;
        padding: 10px;
    }

        #header .header-user-info .user-info-box {
            height: 28px;
        }

        #header .header-user-info .avatar-user {
            width: 28px;
            height: 28px;
            border: 1px solid #ccc;
            /*background-image: url('https://scontent.fhan3-1.fna.fbcdn.net/v/t1.0-9/49344861_1934907579911560_5076673334104555520_n.jpg?_nc_cat=110&_nc_oc=AQmyn0dS6JTENOY4V4Euj9cY9YTCnfS_sac7KgsekxnbtqWa0lxVnJ4nnz9SZ_hm5rI&_nc_ht=scontent.fhan3-1.fna&oh=e97a281e88e8d6bf2361e376c2ee223c&oe=5CDD5BE3');*/
            /*background-image: url('../../Contents/Images/avatar.jpg');*/
            background-size: 26px;
            border-radius: 50%;
            display: inline-block;
            background-repeat: no-repeat;
        }

        #header .header-user-info .user-info {
            position: absolute;
            display: inline-block;
            font-weight: 700;
            line-height: 28px;
            margin-left: 8px;
            cursor: pointer;
        }

            #header .header-user-info .user-info:after {
                display: inline-block;
                width: 16px;
                height: 8px;
                content: "";
                background-image: url('../../Contents/Images/arrow-down-line.png');
                background-repeat: no-repeat;
                background-position: center;
            }

        #header .header-user-info .user-menu-box {
            display: none;
            position: absolute;
            width: calc(100% - 16px);
            top: 100%;
            border: 1px solid #ccc;
            background-color: #fff;
            z-index: 999;
            border: 1px solid #ccc;
            border-radius: 2px;
        }

            #header .header-user-info .user-menu-box .user-menu-item {
                border-bottom: 1px solid #ccc;
                padding-left: 4px;
                height: 28px;
                cursor: pointer;
                font-weight: 700;
                color: #797979;
                line-height: 28px;
            }

                #header .header-user-info .user-menu-box .user-menu-item:hover {
                    color: #ff6a00;
                }
